html, body {
    height: 100%;
}

.site-wrapper {
    min-height: 100%;
    height: auto;
    margin: 0 auto -80px;
    padding: 0 0 80px;
}

body {
    color: #212121;
    background-color: #E9EAED;
}

.site-content {
    margin-top: 30px;
    margin-bottom: 50px;
}

input, textarea, select, .form-control {
    border-radius: 0;
}

a, .btn-link {
    color: #3F51B5;
}

.navbar-default {
    background-color: #3F51B5;
    border: none;
    box-shadow: 0px 0px 7px 0px #777;
    border-radius: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
    color: #FFFFFF;
}

.site-footer {
    background-color: #3F51B5;
    height: 80px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.site-footer p {
    line-height: 80px;
    font-size: 16px;
    margin: 0;
    color: #FFFFFF;
}

.site-footer p span {
    margin-left: 5px;
    margin-right: 5px;
}
